{% extends 'blog/base.html' %}

{% block content %}

<h1>About the Creator</h1>
<p>Thank you for visiting this page. I am Sanjay Kanzariya. I am 35 years old, living in Gurugram in India. I am currently working at 
    British Telecom. I have total experience of 14 years in Telecom industry.</p>
<p>I am also having some other skills like Python Programming, Machine Learning, Web Development using Django, Excel Automation using VBA, etc.</p>
<p>Please contact me in case you want help with any of the above topics!</p>

<h2>Thank you once again.</h2>

{% endblock %}